@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Roboto+Mono:wght@200&display=swap');

/* title font -> font-family: 'Kanit', sans-serif;
subtitle font -> font-family: 'Roboto Mono', monospace; */

.app-container{
  display: flex;
}

.display-container {
  position: absolute !important;
  height: 100vh;
  top: 0p;
  z-index: 2;
  color: rgb(255, 255, 255);
  backdrop-filter: blur(1.5px);
  background: linear-gradient(to right, rgb(0, 0, 0), transparent);
}

.earth-container {
  position: relative;
  top: 0;
  z-index: 1;
}
